<html>
<head>
  <title>Title of the document</title>
</head>

<body>
  <!-- <h1>This is a heading</h1>
  <p>This is a paragraph.</p>

  <form (ngSubmit)="getLocation()">
    <label> Adhar number </label>
    <input type="text" [(ngmodel)]="aadharNum">
    <input type="submit" value="submit">
  </form> -->


    
<form action="http://maps.google.com/maps" method="get" target="_blank">
   <label for="saddr">Enter your location  </label>
   <input type="text" name="saddr" />
   <input type="hidden" name="daddr" value="Alathur, Kerala" />
   <input type="submit" value="Get directions" />
 
  
</form>
</body>

</html>